<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <springProfile name="default">
        <property scope="context" name="logstash-adres" value="192.168.99.101" />
    </springProfile>

    <springProfile name="docker">
        <property scope="context" name="logstash-adres" value="logstash" />
    </springProfile>

    <springProperty scope="context" name="appname" source="spring.application.name"/>

    <appender name="TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash-adres}:5044</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerInfo>true</includeCallerInfo>
            <customFields>{"appname":"${appname}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TCP" />
    </root>
    <logger name="org.springframework" level="INFO"/>
</configuration>